/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(184, 91%, 17%);
	--clr-primary-2: hsl(185, 84%, 25%);
	--clr-primary-3: hsl(185, 81%, 29%);
	--clr-primary-4: hsl(184, 77%, 34%);
	/* primary/main color */
	--clr-primary-5: hsl(185, 62%, 45%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(185, 57%, 50%);
	--clr-primary-7: hsl(184, 65%, 59%);
	--clr-primary-8: hsl(184, 80%, 74%);
	--clr-primary-9: hsl(185, 94%, 87%);
	--clr-primary-10: hsl(186, 100%, 94%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--ff-primary: "Lato", sans-serif;
	--ff-secondary: "Dancing Script", cursive;
	--ff-tertiary: "Cinzel", serif;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-primary);
	background: var(--clr-white);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}

img:not(.nav-logo) {
	width: 100%;
	display: block;
}
@media screen and (max-width: 532px) {
	.nav-logo {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.nav-logo {
		width: 100%;
	}
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
	font-size: 1rem;
}

li {
	font-size: 1.35rem;
}
.divider {
	margin: 3rem 0;
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  global classes */

.btn {
	text-transform: uppercase;
	background: var(--clr-primary-5);
	color: var(--clr-white);
	padding: 0.375rem 0.75rem;
	letter-spacing: var(--spacing);
	display: inline-block;
	/* font-weight: 700; */
	transition: var(--transition);
	font-size: 0.875rem;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
	color: var(--clr-primary-1);
	background: var(--clr-primary-8);
}
.section {
	padding: 5rem 0;
}
.section-title {
	text-align: center;
	margin-bottom: 4rem;
}
.section-title h2 {
	text-transform: uppercase;
}
.section-title span {
	color: var(--clr-primary-5);
}
.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}
/*
=============== 
Navbar
===============
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--clr-white);
	box-shadow: var(--dark-shadow);
	z-index: 2;
}

.nav-icons {
	display: none;
}
.nav-center {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}
.nav-toggle {
	background: transparent;
	border: transparent;
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	cursor: pointer;
	transition: var(--transition);
}
.nav-toggle:hover {
	transform: scale(1.2);
}
.nav-link {
	display: block;
	padding: 1rem 2rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	color: var(--clr-grey-1);
	cursor: pointer;
	font-size: 1.3rem;
}
.nav-link:hover {
	color: var(--clr-primary-1);
	background: var(--clr-primary-8);
	padding-left: 2.25rem;
}
/* 280px */
.nav-links {
	font-size: 1.3rem;
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.show-links {
	height: 315px;
}
@media screen and (min-width: 992px) {
	/* hide toggle btn */
	.nav-logo {
		margin-left: -10rem;
	}

	.nav-toggle {
		display: none;
	}
	.nav-center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.nav-links {
		height: auto;
		display: flex;
	}
	.nav-center {
		display: flex;
	}
	.nav-header {
		padding: 0 0;
		height: 80px;
	}
	.nav-link {
		padding: 0 0;
		margin-right: 2rem;
	}

	.nav-link:hover {
		padding: 0;
		color: var(--clr-grey-5);
		background: transparent;
	}
	.nav-icons {
		display: flex;
	}
	.nav-icon {
		margin-right: 0.7rem;
		color: var(--clr-primary-1);
		font-size: 1.2rem;
		transition: var(--transition);
	}
	.nav-icon:hover {
		color: var(--clr-primary-8);
	}
}

/*
=============== 
Hero
===============
*/
.hero {
	height: 100vh;
	background: var(--clr-primary-5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-banner {
	text-align: center;
	color: var(--clr-white);
	padding: 0 3 rem;
}
.hero-banner h1 {
	text-transform: uppercase;
}
.hero-banner p {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	color: var(--clr-white);
	letter-spacing: var(--spacing);
}
.hero-btn {
	padding: 0.9rem 1.6rem;
	font-size: 1.6rem;
	background: rgba(255, 255, 255, 0.075);
	color: var(--clr-white);
	border-color: rgba(255, 255, 255, 0.315);
}
.hero-btn:hover {
	background: rgb(0, 0, 0, 0.2);
	color: var(--clr-white);
	border-color: var(--clr-white);
}
@media screen and (min-width: 768px) {
	.hero {
		background: linear-gradient(
				rgb(44, 174, 186, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			url("../images/Iconic_meditation_image_of_a_woman_meditating.jpeg")
				center/cover no-repeat;
	}
	.hero-banner {
		padding: 0;
	}
	.hero-banner p {
		max-width: 45rem;
	}
	.hero-btn {
		padding: 0.9rem 1.6rem;
		font-size: 1.6rem;
		background: transparent;
		color: var(--clr-white);
		border-color: rgba(255, 255, 255, 0.315);
	}
	.hero-btn:hover {
		background: rgb(0, 0, 0, 0.2);
		color: var(--clr-white);
		border-color: var(--clr-white);
	}
}
/* 
==========
blog
==========
 */
.blog-title {
	text-align: center;
	text-decoration: underline var(--clr-primary-5);
	margin-bottom: 1.5rem;
	font-family: var(--ff-secondary);
}
.blog-title h2 {
	font-size: 5rem;
}
.card {
	height: 27rem;
	position: relative;
	margin: 10px;
	/* talk later */
	perspective: 1500px;
}
.card-info {
	padding: 1rem 1.5rem;
	overflow: hidden;
}
.card-side {
	backface-visibility: hidden;
	transition: all 2s linear;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
}

.card-front {
	box-shadow: var(--dark-shadow);
	background: var(--clr-white);
}
.card-back {
	box-shadow: var(--dark-shadow);
	background: var(--clr-primary-8);
	transform: rotateY(180deg);
	display: grid;
	place-items: center;
}
.card:hover .card-front {
	transform: rotateY(-180deg);
}
.card:hover .card-back {
	transform: rotateY(0);
}
.card-front img {
	height: 13rem;
	object-fit: cover;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}
.card-footer img {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 50%;
}
.card-footer {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.card-footer p {
	margin-bottom: 0;
	text-transform: uppercase;
	justify-self: end;
	color: var(--clr-primary-5);
	font-size: 0.85rem;
}
.blog-center {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.blog-btn {
	text-align: center;
}
.blog-info {
	padding: 2.35rem 1.5rem;
	text-align: center;
}
.my-blog {
	margin: 3rem;
}
.my-blog h2 {
	text-align: center;
	font-family: var(--ff-secondary);
	font-size: 4rem;
}
.my-blog p {
	text-align: center;
	font-family: var(--ff-primary);
	font-size: 1.35rem;
	letter-spacing: var(--spacing);
}
.blog-quote {
	margin: 10rem 3rem;
	text-align: center;
	font-family: var(--ff-tertiary);
}
.blog-quote h2,
h3 {
	font-size: 3rem;
}
.blog-quote p {
	font-size: 4rem;
	font-family: var(--ff-secondary);
}
.blog-hero {
	height: 100vh;
	background: var(--clr-primary-5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.blog-banner {
	text-align: center;
	color: var(--clr-white);
	padding: 0 3 rem;
}
.blog-banner h1 {
	text-transform: uppercase;
	font-family: var(--ff-secondary);
}
.blog-banner p {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	color: var(--clr-white);
	letter-spacing: var(--spacing);
	font-family: var(--ff-tertiary);
	font-size: 2rem;
}
@media screen and (min-width: 768px) {
	.blog-hero {
		background: url("../images/nature.jpg") center/cover
			no-repeat;
	}

	/*
=============== 
About
===============
*/
	/* section add to globals */
	/* title add to globals */
	/* section center add to globals */
	.about-img,
	.about-info {
		margin-bottom: 2rem;
		font-size: 1rem;
		letter-spacing: var(--spacing);
	}
	@media screen and (min-width: 992px) {
		.about-center {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.about-img,
		.about-info {
			flex: 0 0 calc(50% - 2rem);
			margin-bottom: 0;
			align-self: center;
		}
	}
	@media screen and (min-width: 1170px) {
		.about-img::before {
			content: "";
			position: absolute;
			border: 0.5rem solid var(--clr-primary-5);
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			top: -1.5rem;
			left: -1.5rem;
			/* z-index: -1; */
		}
		.about-img {
			position: relative;
		}
		.about-photo {
			position: relative;
		}
		.about-info {
			letter-spacing: var(--spacing);
		}
	}

	/*
=============== 
Contact
===============
*/
	.contact {
		background: var(--clr-primary-6);
		box-shadow: var(--dark-shadow);
	}
	/* .contact {
  background: var(--clr-primary-6);
  height: 70vh;
  margin-top: 50px;
} */
	.contact-title {
		color: var(--clr-white);
		font-size: 2rem;
	}
	.contact-title p {
		color: var(--clr-primary-10);
		font-size: 1.75rem;
	}
	.contact-span {
		font-size: 5rem;
		font-family: var(--ff-secondary);
	}
	.contact-form {
		display: flex;
		max-width: 28rem;
		margin-top: 3.5rem;
	}

	.form-control {
		flex: 1 1 auto;
		color: var(--clr-grey-5);
	}
	.form-control,
	.btn-submit {
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 300;
		letter-spacing: var(--spacing);
		background: var(--clr-white);
		text-transform: capitalize;
		border: transparent;
	}
	.form-control::placeholder {
		color: inherit;
	}
	.btn-submit {
		font-family: var(--ff-primary);
		margin-left: 0.5rem;
		background: var(--clr-primary-8);
		color: var(--clr-primary-1);
		cursor: pointer;
		transition: var(--transition);
	}
	.btn-submit:hover {
		background: var(--clr-primary-1);
		color: var(--clr-primary-5);
	}
	@media screen and (min-width: 992px) {
		.contact-center {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.contact-form {
			align-self: flex-start;
			flex: 1 1 auto;
			max-width: 100%;
			padding-left: 2rem;
		}
	}

	/* 
===============
services
===============
 */

	/* 
==============
service icon
==============
 */
	.service-card {
		transition: var(--transition);
		background: var(--clr-grey-10);
		box-shadow: var(--light-shadow);
		margin-bottom: 2rem;
	}
	.service-card:hover {
		box-shadow: var(--dark-shadow);
		transform: scale(1.02);
	}
	.service-img-container {
		position: relative;
	}
	.service-img {
		height: 15rem;
		object-fit: cover;
	}
	.service-date {
		position: absolute;
		right: 0;
		bottom: 0;
		background: var(--clr-primary-8);
		margin-bottom: 0;
		color: var(--clr-primary-1);
		text-transform: capitalize;
		padding: 0.25rem 0.5rem;
	}
	.service-info {
		padding: 2.35rem 1.5rem;
		text-align: center;
	}
	.service-footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	.service-footer p {
		line-height: 0;
		margin-bottom: 0;
		text-transform: capitalize;
		color: var(--clr-primary-5);
	}
	.service-btn {
		text-align: center;
	}
	@media screen and (min-width: 768px) {
		.featured-center {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.service-card {
			flex: 0 0 calc(50% - 2rem);
		}
	}
	@media screen and (min-width: 1170px) {
		.service-card {
			flex: 0 0 calc(33.333% - 2rem);
		}
	}
	.service-img-container {
		position: relative;
	}
	.service-icon {
		position: absolute;
		left: 50%;
		bottom: 0;
		font-size: 2rem;
		color: var(--clr-white);
		background: var(--clr-primary-5);
		padding: 0.25rem 0.6rem;
		border-radius: 50%;
		transform: translate(-50%, 50%);
		border: 0.375rem solid var(--clr-white);
	}

	/*
=============== 
Footer
===============
*/
	.footer {
		background: var(--clr-grey-1);
		text-align: center;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.footer-links,
	.footer-icons {
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
		flex-wrap: wrap;
	}
	.footer-link {
		color: var(--clr-white);
		text-transform: capitalize;
		font-size: 1rem;
		margin-right: 1rem;
		letter-spacing: var(--spacing);
		transition: var(--transition);
	}
	.footer-link:hover {
		color: var(--clr-primary-5);
	}
	.footer-icon {
		font-size: 2rem;
		margin-right: 1rem;
		color: var(--clr-primary-8);
		transition: var(--transition);
	}
	.footer-icon:hover {
		color: var(--clr-primary-5);
	}
	.copyright {
		text-transform: capitalize;
		letter-spacing: var(--spacing);
		color: var(--clr-white);
	}
	/* 
===========
mindfulness meditation post
===========
 */
	.post-header {
		height: 100vh;
		background: linear-gradient(
				rgba(0, 255, 255, 0.555),
				rgba(0, 255, 255, 0.333)
			),
			url("../images/image\ _of_meditative_atmosphere.jpeg")
				center/cover no-repeat fixed;
		display: grid;
		align-items: center;
	}
	.meditation-title {
		font-size: 2rem;
		color: white;
		text-align: center;
		font-family: var(--ff-tertiary);
	}
	.meditation-title p {
		font-size: 2rem;
		color: white;
	}

	.meditation-section {
		border: solid 7px rgba(0, 255, 255, 0.555);
		padding: 2.5rem;
	}
	.meditation-section h4 {
		font-size: 2.3rem;
	}
	.meditation-section p {
		font-size: 1.35rem;
	}
	.aida-section {
		border: solid 7px rgba(0, 255, 255, 0.555);
		padding: 2.5rem;
	}
	.aida-section h2 {
		text-align: center;
	}
	.aida-section p {
		font-size: 1.35rem;
	}

	.img-1 {
		height: 100%;
		object-fit: cover;
		margin-top: 2rem;
	}

	.key-points li {
		list-style-type: disc;
		padding: 1rem;
		font-size: 1.35rem;
	}
	.divider {
		border-top: 3px dotted #bbb;
		margin: 0 10rem;
	}
	.info-box p {
		font-size: 1.35rem;
	}
	.meditation-info-section {
		border: solid 7px rgba(0, 255, 255, 0.555);
		padding: 2.5rem;
		margin-top: 3rem;
	}

	.meditation-info-section p {
		font-size: 1.35rem;
	}
	@media screen and (max-width: 768px) {
		.post-header {
			background: linear-gradient(
				135deg,
				rgba(30, 87, 153, 1) 0%,
				rgba(167, 47, 181, 1) 0%,
				rgba(125, 185, 232, 1) 100%
			);
		}
		.meditation-section {
			margin: 0.5rem;
		}
	}
	/* 
============
article 2
============
 */
	.article-2 {
		border: solid black 2px;
		padding: 2rem;
		margin: 5rem;
	}
	.article-2 h2 {
		text-align: center;
	}

	/* 
	============
	quote starts
	============
	 */
	.quote {
		margin-right: 2rem;
		padding: 2rem;
		font-size: 2rem;
		font-family: var(--ff-tertiary);
		text-align: center;
	}

	.quote-author {
		text-align: center;
		width: 100%;
		color: black;
	}
	/* 
		============
		info box starts
		============
		 */
	.info-box {
		border: solid black 2px;
		padding: 2rem;
		background: rgba(255, 0, 0, 0.493);
		color: white;
		font-size: 1.2rem;
	}
	.info-box p {
		color: white;
	}

	/* 
===================================
meditation learning section starts
==================================
 */

	.meditation-learning-img,
	.meditation-learning-info {
		margin-bottom: 2rem;
		font-size: 1rem;
		letter-spacing: var(--spacing);
	}
	.meditation-learning-img-2 {
		padding-top: 3rem;
	}
	.meditation-info-section h2 {
		text-align: center;
	}
	.meditation-learning-info p {
		font-size: 1.35rem;
	}
	.meditation-info-section span {
		color: var(--clr-primary-5);
	}
	@media screen and (min-width: 992px) {
		.meditation-learning-center {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.meditation-learning-img,
		.meditation-learning-info {
			flex: 0 0 calc(50% - 2rem);
			margin-bottom: 0;
			align-self: center;
		}
	}
	@media screen and (min-width: 1170px) {
		.meditation-learning::before {
			content: "";
			position: absolute;
			border: 0.5rem solid var(--clr-primary-5);
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			top: -1.5rem;
			left: -1.5rem;
			/* z-index: -1; */
		}
		.meditation-learning-img {
			position: relative;
			bottom: 2rem;
		}
		.meditation-learning-img-2 {
			position: relative;
			top: 2rem;
		}
		.meditation-learning-photo {
			position: relative;
		}
		.meditation-learning-info {
			letter-spacing: var(--spacing);
		}
	}
	/* 
===================================
meditation learning section ends
==================================
 */
	/* 
===================================
meditation integration section starts
==================================
 */
	.integration-section {
		border: solid 7px rgba(0, 255, 255, 0.555);
		padding: 2rem;
		margin-bottom: 3rem;
	}
	.integration-section p {
		font-size: 1.35rem;
	}
	.integration-section span {
		color: var(--clr-primary-5);
	}
	/* 
===================================
meditation integration section ends
==================================
 */
	/* 
===================================
obstacles section begins
==================================
 */
	.obstacles-section {
		margin: 3rem;
	}
	.obstacles-section p {
		font-size: 1.35rem;
	}
	.obstacles-section span {
		color: var(--clr-primary-5);
	}
	/* 
===================================
obstacles section ends
==================================
 */
	/* 
===================================
chakras section begins
==================================
 */
	.chakra-btn a {
		color: white;
	}
	.chakra-btn {
		margin-bottom: 3rem;
		display: block;
		width: 100%;
	}
	.chakras {
		margin: 3rem;
	}

	.chakras p {
		font-size: 1.55rem;
	}
	/* 
===================================
chakras section ends
==================================
 */

	/* 
=============================
mindfulness meditation post ends
=============================
 */
	/* 
==============
root chakra post
=============
 */
	.chakra-header {
		height: 100vh;
		background: linear-gradient(
				rgba(122, 6, 6, 0.795),
				rgba(202, 7, 7, 0.418)
			),
			url("../images/root-chakra.jpg") center/cover
				no-repeat fixed;
		display: grid;
		align-items: center;
	}

	.root-heading {
		font-size: 2rem;
		color: white;
		text-align: center;
		font-family: var(--ff-tertiary);
	}

	.root-traits {
		border: dotted 4px rgb(255, 0, 0);

		outline: 4px solid rgb(255, 0, 0);
		outline-offset: 1.5rem;
		padding: 1rem;
		margin-bottom: 4rem;
		margin-top: 4rem;
		text-align: center;
	}

	.root-traits h4 {
		font-size: 2rem;
		color: rgb(255, 0, 0);
		text-align: center;
	}
	.root-traits h4 span {
		font-size: 2rem;
	}
	.root-traits span {
		font-weight: bold;
		color: red;
	}
	.root-section {
		padding: 1.35rem;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.root-section p {
		font-size: 1.35rem;
	}
	.foundation {
		border: solid red 3px;
		padding: 2rem;
	}
	.foundation p {
		font-size: 1.35rem;
	}
	.foundation span {
		color: red;
	}
	.root-section span {
		color: red;
	}
	.root-btn a {
		color: white;
	}
	.root-btn {
		display: grid;
		grid-template-columns: 1fr;
	}
	.root-btn-center {
		float: right;
		background: red;
	}
	.root-btn-center a {
		color: white;
	}
	.root-stones-section {
		padding-top: 5rem;
		text-align: center;
	}

	.root-stones-section h2 {
		padding: 2rem;
	}
	.root-stones-section span {
		color: red;
	}
	.article-stones p {
		font-size: 1.35rem;
	}
	.music-root-section {
		border: solid red 3px;
		margin: 7rem auto;
		padding: 1.35rem;
		padding-bottom: 3rem;
	}
	.music-root-section h2 {
		text-align: center;
	}
	.music-root-section p {
		font-size: 1.35rem;
	}
	.music-root-section span {
		color: red;
	}
	.essential-article p {
		font-size: 1.35rem;
	}
	.essential-article h2 {
		text-align: center;
	}
	.essential-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.essential-span {
		color: red;
	}
	.essential-root-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		border: solid red 3px;
	}
	.essential-img-section p {
		font-size: 1.5rem;
		padding-top: 2rem;
	}

	.clear-essential {
		float: left;
	}
	.clear p {
		clear: both;
	}
	.essential-section span {
		color: red;
	}
	.essential-root-section p {
		font-size: 1.45rem;
		padding-top: 2rem;
	}
	.essential-root-section span {
		color: rgb(255, 0, 0);
	}

	.key-points-bold {
		font-weight: bolder;
	}

	.responsive {
		padding-bottom: 56.25%;
		position: relative;
		width: 100%;
		height: 0;
	}
	.responsive iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.chakra-stones-img {
		padding-bottom: 3rem;
	}
	@media screen and (max-width: 768px) {
		.chakra-header {
			background: linear-gradient(
				rgba(50, 6, 122, 0.795),
				rgba(202, 7, 7, 0.418)
			);
		}
		.essential-root-section {
			display: grid;
			grid-template-columns: 1fr;
			padding: 2rem;
		}
	}
	/* 
==============
Root chakra post ends
=============
 */
	/* 
==============
sacral chakra post
=============
 */

	.sacral-header {
		height: 100vh;
		background: linear-gradient(
			rgba(122, 105, 6, 0.795),
			rgba(202, 7, 7, 0.418)
		);
	}

	.sacral-title {
		font-family: var(--ff-tertiary);
		font-size: 2rem;
		color: white;
		text-align: center;
		position: relative;
		top: 25rem;
	}
	.sacral-traits {
		border: dotted 4px rgb(255, 166, 0);

		outline: 4px solid rgb(255, 166, 0);
		outline-offset: 1.5rem;
		padding: 1rem;

		margin-bottom: 4rem;
		margin-top: 4rem;

		text-align: center;
	}
	.sacral-traits h4 {
		font-size: 2rem;
		color: rgb(255, 166, 0);
	}
	.sacral-traits h4 span {
		font-size: 2rem;
	}
	.sacral-traits span {
		font-weight: bold;
		color: rgb(255, 166, 0);
	}

	.sacral-section h2 {
		font-size: 3rem;
		padding-bottom: 2rem;
		text-align: center;
	}
	.sacral-section span {
		color: rgb(255, 166, 0);
	}
	.sacral-section p {
		color: black;
		text-transform: var(--spacing);
		font-size: 1.35rem;
	}
	.sacral-meditation {
		padding: 2rem;
		margin: 0 1rem;

		border: rgb(255, 166, 0) solid 3px;
	}
	.sacral-meditation-article p {
		color: rgb(82, 82, 82);
		font-size: 1.35rem;
	}
	.sacral-meditation-article h2 {
		text-align: center;
	}

	.sacral-meditation-article h2 span {
		display: block;
		margin: 0 auto;
	}
	.sacral-meditation-article li {
		padding: 0.75rem;
	}
	.sacral-meditation-article span {
		color: rgb(255, 166, 0);
		margin: 5rem;
	}
	.sacral-stones-section {
		padding-top: 5rem;
		text-align: center;
	}

	.sacral-stones-section h2 {
		padding: 2rem;
	}
	.sacral-stones-section span {
		color: rgb(255, 166, 0);
	}
	.sacral-balancing {
		margin-top: 7rem;
		margin-bottom: 3rem;
		padding: 2rem;
		background: rgba(255, 166, 0, 0.308);
	}
	.balancing-article h2 {
		text-align: center;
	}
	.balancing-article span {
		color: rgb(255, 166, 0);
	}
	.balancing-article p {
		font-size: 1.35rem;
		color: rgb(82, 82, 82);
	}
	.music-sacral-section {
		border: solid rgb(255, 166, 0) 3px;
		margin: 7rem auto;
		padding: 1.35rem;
		padding-bottom: 3rem;
	}
	.music-sacral-section h2 {
		text-align: center;
	}
	.music-sacral-section p {
		font-size: 1.35rem;
	}

	.sacral-btn {
		display: grid;
		grid-template-columns: 1fr;
	}
	.sacral-btn-center {
		float: right;
		background: rgb(255, 166, 0);
	}
	.sacral-btn-center a {
		color: white;
	}
	.essential-sacral-section {
		display: grid;
		grid-template-columns: 1fr;
		border: solid rgb(255, 166, 0) 3px;
	}
	.essential-sacral-section p {
		font-size: 1.45rem;
		padding-top: 2rem;
	}
	.essential-sacral-section span {
		color: rgb(255, 166, 0);
	}

	@media screen and (min-width: 768px) {
		.sacral-traits h4 span {
			font-size: 2rem;
			color: rgb(255, 166, 0);
		}
		.sacral-header {
			height: 100vh;
			background: linear-gradient(
					rgba(122, 105, 6, 0.795),
					rgba(202, 7, 7, 0.418)
				),
				url("../images/chakra-4354545_1280.jpg")
					center/cover no-repeat fixed;
			display: grid;
			align-items: center;
		}
		.sacral-title {
			font-size: 2rem;
			color: white;
			text-align: center;
			position: relative;
			top: 15rem;
		}
		.essential-sacral-section {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 2rem;
		}
	}

	/* 
	==============
	sacral post ends
	=============
	 */
	/* 
========================
solar plexus post begins
========================
 */

	.solar-header {
		height: 100vh;
		background: linear-gradient(
				rgba(87, 74, 0, 0.637),
				rgba(64, 87, 0, 0.479)
			),
			url("../images/solar-plexus-chakra.jpg");
	}
	.solar-title {
		font-family: var(--ff-tertiary);
		font-size: 2rem;
		color: white;
		text-align: center;
		position: relative;
		top: 25rem;
	}
	.solar-traits {
		border: dotted 4px rgb(255, 166, 0);

		outline: 4px solid rgb(255, 166, 0);
		outline-offset: 1.5rem;
		padding: 1rem;
		margin: 0 1rem;
		margin-bottom: 4rem;
		margin-top: 4rem;
		text-align: center;
	}
	.solar-traits h4 {
		font-size: 2rem;
		color: rgb(255, 166, 0);
	}
	.solar-traits h4 span {
		font-size: 2rem;
	}
	.solar-traits span {
		font-weight: bold;
		color: rgb(255, 166, 0);
	}
	.solar-article h2 {
		text-align: center;
	}
	.solar-info {
		margin: 5rem auto;
	}
	.solar-info span {
		color: rgb(255, 166, 0);
	}
	.solar-article span {
		color: rgb(255, 166, 0);
	}
	.solar-info p {
		font-size: 1.35rem;
	}
	.solar-meditation {
		padding: 1rem;
		margin: 5rem 1rem;

		outline: rgb(255, 166, 0) solid 3px;
		outline-offset: 2rem;
	}
	.solar-meditation-article p {
		color: rgb(82, 82, 82);
		font-size: 1.35rem;
	}
	.solar-meditation h2 {
		text-align: center;
	}

	.solar-meditation-article h2 span {
		display: block;
		margin: 0 auto;
	}
	.solar-meditation-article li {
		padding: 0.75rem;
	}
	.solar-meditation-article span {
		color: rgb(255, 166, 0);
		margin: 5rem;
	}
	.solar-btn {
		display: grid;
		grid-template-columns: 1fr;
	}
	.solar-btn-center {
		float: right;
		background: rgb(255, 166, 0);
	}
	.solar-btn-center a {
		color: white;
	}
	.solar-stones-section {
		padding-top: 5rem;
		text-align: center;
	}

	.solar-stones-section h2 {
		padding: 2rem;
	}
	.solar-stones-section span {
		color: rgb(255, 166, 0);
	}
	@media screen and (min-width: 768px) {
		.solar-traits span {
			font-size: 1rem;
		}
		.solar-meditation-article h2 {
			text-align: center;
		}
	}
}
/* 
========================
solar plexus post ends
========================
 */
